.header {
  border-bottom: 1px solid var(--alternative);
  gap: 100px;
  padding: 20px 0;
  font-size: 20px;
  background-color: var(--secondary);
  
  .content {
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
  }
  .location {
	padding: 10px 30px;
	border: 1px solid var(--alternative);
	border-radius: 10px;
  }
}
