.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
  .modal {
	width: 400px;
	height: 600px;
	padding: 20px 20px;
	background: white;
	opacity: 1;
	z-index: 2;
  }
  
  .modal_title {
	color: #3a3a3b;
	display: flex;
	justify-content: space-between;
  }
  .form {
	display: flex;
	flex-direction: column;
	gap: 30px;
	margin-top: 50px;
  }
  .label {
	display: flex;
	flex-direction: column;
	gap: 20px;
  }
}



